.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    max-width: 100%;
    margin: auto;
    background-color: gray;
    color: white;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
  
    .description {
      font-size: 1.2rem;
      max-width: 800px;
      margin-bottom: 40px;
    }
  
    .swiper {
      width: 100%;
      max-width: 800px;
      padding-bottom: 50px;
      overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 45%; 
        transform: translateY(-50%);
        color: #4e4376; 
    }

    .swiper-pagination-bullet {
        background: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376); 
        width: 12px;
        height: 12px;
        opacity: 1; 
        transition: all 0.3s ease;
      }
      
      .swiper-pagination-bullet-active {
        transform: scale(1.3); 
        background: #4e4376; 
      }
  
    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 100%;
        max-width: 600px;
        height: auto;
        max-height: 400px;
        object-fit: contain;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
  
        &:hover {
          transform: scale(1.05);
        }
      }
  
      h3 {
        margin-top: 10px;
        font-size: 1.5rem;
      }
    }
  }
  