@use "variables";

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    max-width: 100%;
    margin: auto;
    background-color: gray;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 50px;
      color: white;
    }
  
    .separator {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 75px;
      width: 100%;
  
      img {
        width: 250px;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
  
      p {
        max-width: 600px;
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.6;
        color: white;
      }
    }
  
    @media (max-width: 768px) {
      .separator {
        flex-direction: column;
        text-align: center;
  
        img {
          width: 200px;
        }
  
        p {
          text-align: center;
        }
      }
    }
  }
  